<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteBuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <!-- Collapsed sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <button id="openbtn" class="openbtn" onclick="openNav()">&#9776;</button>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h2>Sagar Dubey</h2>
        <ul>
            <li class="category">Today</li>
            <li>Web Development</li>
            <li>AI Revolution</li>
            <li class="category">Yesterday</li>
            <li>Codefest2k24</li>
            <li>Resume/CV</li>
            <li>Debugger Problem</li>
            <li class="category">Previous 30 days</li>
            <li>Error 404</li>
        </ul>
        <p><a href="{{ url_for('logout') }}" onclick="logout()">Logout</a><br>
            <img src="{{ url_for('static', filename='images/Black-Logo.png') }}" alt="ByteBuddy Logo" id="company-logo">
        </p>
    </div>

    <div class="chat-container" id="chat-container">
        <img src="{{ url_for('static', filename='images/bx-help-circle.svg') }}" alt="Help Circle" class="help-logo" onclick="redirectToHelp()">
        <div class="chat-box" id="chat-box">
            <p id="intro-message">How can I help you today?</p>
            <img src="{{ url_for('static', filename='images/ByteBuddy.png') }}" alt="ByteBuddy Logo" id="bytebuddy-logo">
            <p id="quote">"Navigate the sea of knowledge with the compass of curiosity." - Sagar Dubey</p>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <div class="send-button-container" onclick="sendMessage()">
                    <img src="{{ url_for('static', filename='images/send-message.png') }}" alt="Send Message" id="send-button">
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>