/* Your CSS content as provided */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
}

#company-logo {
    display: block;
    width: 240px;
    height: auto;
    margin-top: -8px;
    margin-left: 6px;
}

.chat-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, margin-left 0.5s ease;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin-left: 0;
}

.chat-box {
    height: calc(100% - 100px);
    overflow-y: auto;
    padding: 20px;
    animation: fadeIn 0.5s ease forwards;
    width: 100%;
}

#intro-message {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

#bytebuddy-logo {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    margin-top: 80px;
}

#quote {
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.help-logo {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    z-index: 2;
}

.chat-container.opened .openbtn {
    display: none;
}

.help-logo:hover {
    transform: rotate(360deg);
}

.input-container {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: calc(95% - 30px);
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
    background-color: #ddd8d8;
    margin-left: 35px;
    margin-bottom: 10px;
}

.send-button-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.send-button-container img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: filter 0.3s ease;
    margin-right: 4px;
    margin-bottom: 3px;
    filter: brightness(0.5);
}

#send-button:hover {
    transform: scale(1.2);
}

/* Sidepanel Styles */
.sidepanel {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 0px;
    list-style-type: none;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel p a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-top: 8px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidepanel .category {
    color: #f1f1f1;
    font-size: 13.5px;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    list-style: none;
}

.sidepanel li {
    color: #f1f1f1;
    font-size: 14px;
    padding-left: 0px;
    list-style: inside;
    list-style: disc;
}

.sidepanel h2 {
    color: #f1f1f1;
    margin-left: 25px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}

.openbtn:hover {
    background-color: #444;
}

.chat-container.opened {
    margin-left: 250px;
}

.opened .openbtn {
    display: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .chat-container {
        left: 0;
        width: 100%;
    }

    .help-logo {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        position: relative;
        left: 0;
        width: 100%;
    }

    .chat-box {
        height: calc(100% - 150px);
    }

    #intro-message,
    #quote {
        font-size: 18px;
    }

    .input-container {
        padding: 5px 10px;
    }

    input[type="text"],
    button {
        padding: 5px 10px;
        margin-left: 5px;
    }
}
